// https://colorhunt.co/palette/001c30176b8764ccc5dafffb
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&display=swap');

body {
  background: #0b2447;
  color: #fff;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  font-weight: 300;
}

li {
  list-style: none;
}
